.fmessage {
    --f-message-success-color: var(--f-color-green-5, #30a141);
    --f-message-warning-color: var(--f-color-orange-5, #f59f0a);
    --f-message-error-color: var(--f-color-red-5, #ca1616);
    --f-message-info-color: inherit;
}
