.fmessage {
    --fmessage-main-color: inherit;

    --fmessage-success-color: var(--f-color-green-5, #30a141);
    --fmessage-warning-color: var(--f-color-orange-7, #935f06);
    --fmessage-error-color: var(--f-color-red-5, #ca1616);
    --fmessage-info-color: var(--f-doc-color, #333);
    --fmessage-icon-size: 20px;
    --fmessage-transition-length: 220ms;
}
