@import "custom-properties";

.fmessage {
    display: flex;
    align-items: center;
    align-content: center;

    &-success {
        color: var(--f-message-success-color);
    }

    &-info {
        color: var(--f-message-info-color);
    }

    &-warning {
        color: var(--f-message-warning-color);
    }

    &-error {
        color: var(--f-message-error-color);
    }

    &_body {
        width: 100%;
    }

    &-prefixslot, &-withicon {
        .fmessage_body {
            padding-left: 8px;
        }
    }

    &-suffixslot {
        .fmessage_body {
            padding-right: 8px;
        }
    }
}
