@use "sass:map";
@use "../tools/sizes" as sizesTools;

@include sizesTools.sizes() using($size) {
    $size: map.get($size, "suffix");

    .tes#{$size} {
        font-size: var(--f-font-size#{$size});
        line-height: var(--f-line-height#{$size});
    }
}
