@use "../tools/animations";
@use "../tools/media";

@include animations.fade('in-vue', 0, 1);
@include animations.fade('out-vue', 1, 0);
@include animations.scale-center-fade-in('vue', 0.75, 1);
@include animations.scale-center-fade('out-vue', 1, 0.75, 1, 0);
@include animations.scale-center-fade('out-forward-vue', 1, 1.25, 1, 0);
@include animations.slide-in-x('right-vue', 100%, 0);
@include animations.slide-in-x('left-vue', -100%, 0);
@include animations.slide-out-x('right-vue', 0, 100%);
@include animations.slide-out-x('left-vue', 0, -100%);
@include animations.slide-in-y('down-vue', 100%, 0);
@include animations.slide-in-y('up-vue', -100%, 0);
@include animations.slide-out-y('down-vue', 0, 100%);
@include animations.slide-out-y('up-vue', 0, -100%);

.fade-enter-active {
    animation: fade-in-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.fade-leave-active {
    animation: fade-out-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@include media.prefers-reduced-motion(false) {
    .scale-center-enter-active {
        will-change: transform, opacity;
        animation: scale-center-fade-in-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        //animation-delay: 1000ms;
    }
    .scale-center-leave-active {
        will-change: transform, opacity;
        //animation: scale-in-center var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both reverse;
        animation: scale-center-fade-out-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .scale-center-forward-leave-active {
        will-change: transform, opacity;
        animation: scale-center-fade-out-forward-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .slide-right-enter-active {
        animation: slide-in-left-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .slide-right-leave-active {
        animation: slide-out-right-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .slide-left-enter-active {
        animation: slide-in-right-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .slide-left-leave-active {
        animation: slide-out-left-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .slide-down-enter-active {
        animation: slide-in-up-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .slide-down-leave-active {
        animation: slide-out-down-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .slide-up-enter-active {
        animation: slide-in-down-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .slide-up-leave-active {
        animation: slide-out-up-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }


    html[dir="rtl"], body[dir="rtl"] {
        .slide-right-enter-active {
            animation: slide-in-right-vue 320ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        .slide-right-leave-active {
            animation: slide-out-left-vue 320ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        .slide-left-enter-active {
            animation: slide-in-left-vue 320ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        .slide-left-leave-active {
            animation: slide-out-right-vue 320ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }
}

@include media.prefers-reduced-motion() {
    .scale-center-enter-active {
        animation: fade-in-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .scale-center-leave-active {
        animation: fade-out-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .scale-center-forward-leave-active {
        animation: fade-out-vue var(--f-transition-length, 220ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}
