.fhamburgerswitch {
    --fhamburgerswitch-color: var(--f-color-primary-5, #1a6aff);
    --fhamburgerswitch-transition-length: var(--f-transition-length, 220ms);
    --fhamburgerswitch-transition-func: var(--f-transition-func, ease);
}
