@use 'custom-properties';

.fcircleprogress {
    position: relative;
    display: inline-block;
    width: var(--fcircleprogress-width);
    height: var(--fcircleprogress-height);

    svg {
        width: 100%;
        height: 100%;

        /*
        circle {
            r: calc(50 - var(--fcircleprogress-stroke-width) * 0.5);
        }
        */
    }

    &_value {
        fill: var(--fcircleprogress-color);
        font-size: var(--fcircleprogress-font-size);
        font-weight: var(--fcircleprogress-font-weight);
        letter-spacing: -3px;

        &_percentage {
            font-size: var(--fcircleprogress-percentage-font-size);
        }
    }

    &_circle {
        stroke: var(--fcircleprogress-circle-color);
        stroke-linecap: var(--fcircleprogress-stroke-linecap);
    }

    &_bgcircle {
        stroke: var(--fcircleprogress-bg-circle-color);
        stroke-linecap: var(--fcircleprogress-stroke-linecap);
    }

    &-animate {
        .fcircleprogress_circle {
            transition: stroke-dashoffset var(--fcircleprogress-transition-duration)
                var(--fcircleprogress-transition-func);
        }
    }
}
