@use "tools";

@mixin light-button {
    --f-btn-main-color: var(--f-color-grey-2);
    --f-btn-main-color-hover: var(--f-color-grey-3);
    --f-btn-color: var(--f-color-grey-8);
    --f-btn-hover-color: var(--f-color-grey-9);
}

@include tools.button() {
    &-red {
        --f-btn-main-color: var(--f-color-red-5);
        --f-btn-main-color-hover: var(--f-color-red-6);
    }

    &-green {
        --f-btn-main-color: var(--f-color-green-7);
        --f-btn-main-color-hover: var(--f-color-green-8);
    }

    &-orange {
        --f-btn-main-color: var(--f-color-orange-7);
        --f-btn-main-color-hover: var(--f-color-orange-8);
    }

    &-grey {
        --f-btn-main-color: var(--f-color-grey-6);
        --f-btn-main-color-hover: var(--f-color-grey-7);
    }

    &-light {
        @include light-button;
    }
}

.darktheme {
    .fbutton {
        @include light-button;
    }
}
