.fcard {
    --fcard-padding: var(--f-spacer-5);
    --fcard-mw-padding: var(--f-spacer-3);
    --fcard-background: #fff;
    --fcard-border-radius: var(--f-border-radius-3);
    --fcard-box-shadow: 0 8px 16px 0 rgba(48,49,51,0.1),0 0 1px 0 rgba(48,49,51,0.05);
}
