.fdatetimefield {
    display: inline-block;
    vertical-align: middle;

    /*&_cont {
        display: inline-flex;
        gap: var(--f-spacer-6);
    }*/

    .inp-nostyle {
        width: auto;
    }

    &_date {
        margin-right: var(--f-spacer-6) !important;

        &::-webkit-calendar-picker-indicator {
            margin: 0;
            padding: 0;
        }
    }
}
