/**
 CSS custom properties for html element.
 */

:root {
    --f-doc-font-family: Arial, Tahoma, sans-serif;
    --f-doc-font-size: 16px;
    //--f-doc-line-height: 1.46;
    --f-doc-line-height: 24px;
    --f-doc-line-width: 38em;
    --f-doc-color: #333;
    --f-doc-background-color: #fff;
}
