@use "custom-properties";
@use "tools";
@use "../../tools/breakpoints" as breakpointsTools;

@include tools.grid {
    display: grid;
    column-gap: var(--f-column-gap);
    row-gap: var(--f-row-gap);
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;

    @include tools.grid-layout-columns(16);

    > * {
        grid-column: 1 / -1;
    }

    &-colspadding > * {
        padding: var(--f-grid-cols-padding);
    }
}

@include tools.grid-template-columns(16);

@include breakpointsTools.breakpoints-min() using($shortcut) {
    @include tools.grid {
        @include tools.grid-layout-columns(16, $shortcut + '\\:');
    }

    @include tools.grid-template-columns(16, $shortcut + '\\:');
}
