@use 'custom-properties';

.fwindow {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    outline: none;
    border-radius: var(--fwindow-border-radius);
    background: var(--fwindow-background);
    overflow: hidden;

    /*
    &.visible {
        display: flex;
    }
    */

    &-fixed {
        position: fixed;
        max-height: 100%;
    }

    &-absolute {
        position: absolute;
    }

    &-witharrow {
        overflow: inherit;
    }

    &_doc {
        display: flex;
        flex-direction: column;
        //width: 100%;
        height: 100%;
        overflow: auto;

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }

    &_header {
        display: flex;
        align-items: center;
        padding: var(--fwindow-header-padding);
        background: var(--fwindow-header-background);
        //border-radius: var(--fwindow-header-border-radius);

        &_title {
            width: 100%;
            //padding-right: 1rem;
            outline: none;
            min-width: 0;

            h1,
            h2,
            h3,
            h4,
            h5 {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                padding-inline-end: var(--f-spacer-1, 3px);
                //text-align: center;
                //padding-left: 36px;
            }
        }

        &_controls {
            white-space: nowrap;
            margin-left: auto;

            > * {
                display: inline-block;
            }
        }
    }

    &_body {
        /*max-height: 150px;*/
        height: 100%;
        overflow: auto;
        padding: var(--fwindow-body-padding);
        background: var(--fwindow-body-background);
    }

    &_footer {
        padding: var(--fwindow-footer-padding);
        background: var(--fwindow-footer-background);
    }

    &_arrow {
        position: absolute;
        width: var(--fwindow-arrow-width);
        height: var(--fwindow-arrow-height);
        overflow: hidden;

        .fsvgicon {
            --fsvgicon-width: var(--fwindow-arrow-svg-width);
            --fsvgicon-height: var(--fwindow-arrow-svg-height);

            display: block;

            svg {
                path {
                    fill: var(--fwindow-arrow-color);
                    stroke: var(--fwindow-arrow-stroke);
                    stroke-width: var(--fwindow-arrow-stroke-width);
                }
            }
        }

        > svg {
            width: var(--fwindow-arrow-svg-width);
            height: var(--fwindow-arrow-svg-height);

            path {
                fill: var(--fwindow-arrow-color);
                stroke: var(--fwindow-arrow-stroke);
                stroke-width: var(--fwindow-arrow-stroke-width);
            }
        }

        &[data-arrow-dir="up"] {
            top: calc(-1 * var(--fwindow-arrow-height));
            left: 50%;
        }

        &[data-arrow-dir="right"] {
            top: 50%;
            right: calc(-1 * var(--fwindow-arrow-width));
            transform: rotate(90deg);
        }

        &[data-arrow-dir="down"] {
            bottom: calc(-1 * var(--fwindow-arrow-height));
            left: 50%;
            transform: rotate(180deg);
        }

        &[data-arrow-dir="left"] {
            top: 50%;
            left: calc(-1 * var(--fwindow-arrow-width));
            transform: rotate(-90deg);
        }
    }

    &-withheader {
        &.fwindow-notitle {
            .fwindow_header {
                padding: 0;

                &_controls {
                    position: relative;
                    top: 16px;
                    right: 16px;
                }
            }
        }

        &:not(.fwindow-notitle) {
            .fwindow {
                /*&_header {
                    padding-bottom: calc(var(--fwindow-padding) * 0.5);
                }*/

                &_body {
                    padding-top: 0;
                }
            }
        }
    }

    &-closingdisabled {
        .fwindow_header_controls {
            visibility: hidden;
        }
    }

    &-width-1 {
        max-width: 12em;
    }

    &-width-2 {
        max-width: 16em;
    }

    &-width-3 {
        max-width: 24em;
    }

    &-width-4 {
        max-width: 32em;
    }

    &-width-5 {
        max-width: 40em;
    }

    &-width-6 {
        max-width: 48em;
    }

    &-width-7 {
        max-width: 56em;
    }

    &-width-8 {
        max-width: 64em;
    }

    &-width-9 {
        max-width: 72em;
    }
}
