@mixin fade($_type, $_from, $_to) {
    @keyframes fade-#{$_type} {
        0% {
            opacity: $_from;
        }
        100% {
            opacity: $_to;
        }
    }
}

@mixin scale-center-fade($_type, $_scaleFrom, $_scaleTo, $_fadeFrom, $_fadeTo) {
    @keyframes scale-center-fade-#{$_type} {
        0% {
            opacity: $_fadeFrom;
            -webkit-transform: scale($_scaleFrom);
            transform: scale($_scaleFrom);
        }
        100% {
            opacity: $_fadeTo;
            -webkit-transform: scale($_scaleTo);
            transform: scale($_scaleTo);
        }
    }
}

@mixin scale-center-fade-in($_type, $_scaleFrom, $_scaleTo) {
    @keyframes scale-center-fade-in-#{$_type} {
        0% {
            opacity: 0;
            -webkit-transform: scale($_scaleTo);
            transform: scale($_scaleTo);
        }
        0.1% {
            opacity: 0;
            -webkit-transform: scale($_scaleFrom);
            transform: scale($_scaleFrom);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale($_scaleTo);
            transform: scale($_scaleTo);
        }
    }
}

@mixin rotate($_type: '', $_from: 0, $_to: 0) {
    @keyframes rotate#{$_type} {
        0% {
            -webkit-transform: rotate($_from);
            transform: rotate($_to);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

@mixin slide-in-x($_type: '', $_from: 100%, $_to: 0) {
    @keyframes slide-in-#{$_type} {
        0% {
            -webkit-transform: translateX($_from);
            transform: translateX($_from);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX($_to);
            transform: translateX($_to);
            opacity: 1;
        }
    }
}

@mixin slide-out-x($_type: '', $_from: 100%, $_to: 0) {
    @keyframes slide-out-#{$_type} {
        0% {
            -webkit-transform: translateX($_from);
            transform: translateX($_from);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateX($_to);
            transform: translateX($_to);
            opacity: 0;
        }
    }
}

@mixin slide-in-y($_type: '', $_from: 100%, $_to: 0) {
    @keyframes slide-in-#{$_type} {
        0% {
            -webkit-transform: translateY($_from);
            transform: translateY($_from);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY($_to);
            transform: translateY($_to);
            opacity: 1;
        }
    }
}

@mixin slide-out-y($_type: '', $_from: 100%, $_to: 0) {
    @keyframes slide-out-#{$_type} {
        0% {
            -webkit-transform: translateY($_from);
            transform: translateY($_from);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateY($_to);
            transform: translateY($_to);
            opacity: 0;
        }
    }
}
