@use "../../assets/scss/settings/custom-properties/form-inputs";
@use "../../assets/scss/components/input-field";
@use "../../assets/scss/components/select";

.fselect {
    display: inline-block;
    vertical-align: middle;

    .sel {
        display: block;
        width: 100%;

        .inp {
            width: 100%;
        }
    }

    select:not(:disabled) {
        cursor: pointer;
    }
}
