@use "custom-properties";

.fcombobox {
    display: inline-block;
    vertical-align: middle;

    &-selectmode:not(.fcombobox-disabled) * {
        cursor: pointer;
    }

    &-disabled {
        .fsvgicon {
            --fsvgicon-color: var(--f-color-grey-5, #666);
        }

        .fbutton:disabled {
            opacity: 1;
        }
    }
}

:root {
    .fcombobox {
        &_fwindow.fpopover {
            --fwindow-popover-font-size: var(--f-font-size-5, 16px);
            --fwindow-popover-padding: 0;
            --fwindow-popover-body-padding: 0;
            --fwindow-popover-color: #333;
            --fwindow-popover-background: #fff;
            --f-transition-length: 120ms;
        }

        &_flistbox {
            --f-listbox-item-background-color: #fff;
            --f-listbox-item-hover-color: inherit;
            //--f-listbox-item-hover-background-color: var(--f-primary-color-lighter);
            --f-listbox-item-selected-color: #fff;
            --f-listbox-item-selected-background-color: var(--f-color-primary-5, #1a6aff);

            max-height: var(--fcombobox-listbox-max-height);
            overflow: auto;
        }
    }
}
