@use "tools";

.#{tools.$togglebtn}-c1 {
    --f-togglebtn-background: var(--f-color-grey-4);
    --f-togglebtn-border: 1px solid var(--f-color-grey-4);
    //--f-togglebtn-border-radius: var(--f-border-radius-1);

    /* focus */
    --f-togglebtn-focus-border: var(--f-togglebtn-border);
    --f-togglebtn-focus-checked-border: 1px solid var(--f-togglebtn-theme-color);

    /* switch */
    --f-togglebtn-switch-border: 1px solid var(--f-togglebtn-switch-background);
    //--f-togglebtn-switch-border-radius: var(--f-border-radius-1);

    /* switch - checked */
    --f-togglebtn-checked-switch-border: var(--f-togglebtn-switch-border);

    /* switch - focus */
    --f-togglebtn-focus-switch-border: var(--f-togglebtn-switch-border);
    /* switch - hover (not disabled and checked) */
    --f-togglebtn-hover-switch-border: var(--f-togglebtn-switch-border);

    /* disabled */
    --f-togglebtn-disabled-background: var(--f-togglebtn-background);
    --f-togglebtn-disabled-border: var(--f-togglebtn-border);
    --f-togglebtn-disabled-opacity: 0.5;

    /* disabled + checked */
    --f-togglebtn-disabled-checked-background: var(--f-togglebtn-checked-background);
    --f-togglebtn-disabled-checked-border: var(--f-togglebtn-checked-border);

    /* switch - disabled */
    --f-togglebtn-disabled-switch-border: var(--f-togglebtn-checked-switch-border);

    /* switch - disabled + checked */
    --f-togglebtn-disabled-checked-switch-border: var(--f-togglebtn-checked-switch-border);
    --f-togglebtn-disabled-checked-switch-background: #fff;
}
