@use "custom-properties";
@use "../../assets/scss/settings/custom-properties/form-inputs";
@use "../../assets/scss/components/input-field";
@use "../../assets/scss/components/textarea";

.finput {
    display: inline-block;
    vertical-align: middle;

    + .finput {
        margin-left: var(--f-spacer-1);
    }

    &_inputcont {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
    }

    &-textarea {
        .finput_inputcont {
            height: auto;
        }
    }

    &-autoresizetextarea {
        .finput_inputcont {
            position: relative;
        }

        textarea {
            /*
            top: 0;
            left: 0;
            padding: var(--f-input-padding);
            */
            //top: var(--f-spacer-2, 6px);
            //left: var(--f-inp-cont-gap-h);
            width: 100%;
            height: 100%;
            //background: red;
            //opacity: 0.7;
            resize: none;
            overflow: hidden;
        }
    }

    &_textarea_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: var(--f-input-padding);
    }

    &_textarea_ghost {
        visibility: hidden;
        min-width: var(--finput-autoresizetextarea-min-width);
        min-height: var(--finput-autoresizetextarea-min-height);
    }

    &_charscounter {
        position: absolute;
        bottom: calc(var(--f-spacer-5) * -1);
        right: 0;
        color: var(--f-color-grey-6, #666);
    }

    &-noinputstyle {
        .finput_textarea_ghost {
            min-width: auto;
        }

        &.finput-autoresizetextarea {
            textarea {
                top: 0;
                left: 0;
            }
        }
    }
}
