.fhiddennavlink {
    --fhiddennavlink-color: var(--f-color-grey-1, #fcfcfc);
    --fhiddennavlink-background: var(--f-color-primary-5, #1a6aff);
    --fhiddennavlink-transition-length: 160ms;
    --fhiddennavlink-transition-func: var(--f-transition-func, ease);
}
