.ftabs {
    --ftabs-main-color: var(--f-color-primary-5, #1a6aff);

    --ftabs-color: inherit;
    --ftabs-font-family: inherit;
    --ftabs-font-size: inherit;
    --ftabs-font-weight: inherit;

    --ftabs-border-width: 1px;
    --ftabs-border-color: #eee;

    --ftabs-active-color: var(--ftabs-main-color);
    --ftabs-active-color-border-color: var(--ftabs-main-color);

    --ftabs-hover-color: var(--ftabs-color);
    --ftabs-hover-border-color: #666;

    --ftabs-disabled-color: #ddd;
    --ftabs-disabled-border-color: transparent;
}
