.fdetails {
    --fdetails-border: 1px solid var(--f-color-grey-3, #dedede);
    --fdetails-transitions-length: var(--f-transition-length, 250ms);
    --fdetails-transitions-func: var(--f-transition-func, ease);
}
