/**
 Sass variables for component class names.
 */

$button: 'btn' !default;
$checkboxradio: 'cr' !default;
$input: 'inp' !default;
$list: 'list' !default;
$listbare: 'listbare' !default;
$select: 'sel' !default;
$textarea: 'textarea' !default;
$togglebtn: 'togglebtn' !default;
